In [94]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [95]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cherskiy,RU,2022-02-12 15:41:39,68.7500,161.3000,-23.82,98,100,9.08
1,1,East London,ZA,2022-02-12 15:39:40,-33.0153,27.9116,83.34,78,20,13.80
2,2,Henties Bay,NaN,2022-02-12 15:41:34,-22.1160,14.2845,74.39,78,8,6.11
3,3,Safaga,EG,2022-02-12 15:48:02,26.7292,33.9365,69.75,48,0,8.50
4,4,Georgetown,MY,2022-02-12 15:41:30,5.4112,100.3354,82.89,83,20,2.30

In [96]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [97]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [98]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [99]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [103]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [104]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.dropna().loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,East London,ZA,2022-02-12 15:39:40,-33.0153,27.9116,83.34,78,20,13.80
4,4,Georgetown,MY,2022-02-12 15:41:30,5.4112,100.3354,82.89,83,20,2.30
6,6,Kudahuvadhoo,MV,2022-02-12 15:48:05,2.6708,72.8944,82.04,66,95,6.46
7,7,Taoudenni,ML,2022-02-12 15:48:07,22.6783,-3.9836,76.71,13,0,12.06
11,11,Rikitea,PF,2022-02-12 15:39:16,-23.1203,-134.9692,78.93,71,48,15.88
14,14,Dubai,AE,2022-02-12 15:43:31,25.2582,55.3047,75.13,50,0,13.80
27,27,Atuona,PF,2022-02-12 15:43:20,-9.8000,-139.0333,77.16,79,10,13.69
35,35,Kochi,IN,2022-02-12 15:47:59,9.9399,76.2602,80.58,80,79,3.47
37,37,Richards Bay,ZA,2022-02-12 15:48:34,-28.7830,32.0377,79.81,70,0,12.82
40,40,Mahajanga,MG,2022-02-12 15:48:37,-15.7167,46.3167,84.22,74,20,13.80

In [105]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [106]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1    East London      ZA     83.34 -33.0153   27.9116
4     Georgetown      MY     82.89   5.4112  100.3354
6   Kudahuvadhoo      MV     82.04   2.6708   72.8944
7      Taoudenni      ML     76.71  22.6783   -3.9836
11       Rikitea      PF     78.93 -23.1203 -134.9692
14         Dubai      AE     75.13  25.2582   55.3047
27        Atuona      PF     77.16  -9.8000 -139.0333
35         Kochi      IN     80.58   9.9399   76.2602
37  Richards Bay      ZA     79.81 -28.7830   32.0377
40     Mahajanga      MG     84.22 -15.7167   46.3167

In [107]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [122]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexErrors):
        print("Hotel not found... skipping " + hotels)

In [123]:
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1    East London      ZA     83.34 -33.0153   27.9116
4     Georgetown      MY     82.89   5.4112  100.3354
6   Kudahuvadhoo      MV     82.04   2.6708   72.8944
7      Taoudenni      ML     76.71  22.6783   -3.9836
11       Rikitea      PF     78.93 -23.1203 -134.9692
14         Dubai      AE     75.13  25.2582   55.3047
27        Atuona      PF     77.16  -9.8000 -139.0333
35         Kochi      IN     80.58   9.9399   76.2602
37  Richards Bay      ZA     79.81 -28.7830   32.0377
40     Mahajanga      MG     84.22 -15.7167   46.3167

In [124]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [125]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [126]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))