## Deliverable 3. Create a Travel Itinerary Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Takoradi,GH,83.88,scattered clouds,4.8845,-1.7554,NaN
1,2,Kruisfontein,ZA,83.73,light rain,-34.0033,24.7314,NaN
2,5,Rikitea,PF,76.50,light rain,-23.1203,-134.9692,NaN
3,7,Tiarei,PF,77.02,broken clouds,-17.5333,-149.3333,NaN
4,11,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,NaN
5,16,Georgetown,MY,79.95,moderate rain,5.4112,100.3354,NaN
6,17,Meulaboh,ID,77.72,moderate rain,4.1363,96.1285,NaN
7,19,Itarema,BR,88.12,overcast clouds,-2.9248,-39.9167,NaN
8,20,Busselton,AU,79.09,clear sky,-33.6500,115.3333,NaN
9,24,Souillac,MU,82.78,light rain,-20.5167,57.5167,NaN

In [29]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [32]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Yulara",:]
vacation_end = vacation_df.loc[vacation_df["City"]=="Yulara",:]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Busselton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Carnarvon"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Mackay"]

In [80]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
start1= (start[0][0],start[0][1])
end = vacation_end[["Lat", "Lng"]].to_numpy()
end1= (end[0][0],end[0][1])
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1a= (stop1[0][0],stop1[0][1])
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2a= (stop2[0][0],stop2[0][1])
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3a= (stop3[0][0],stop3[0][1])

print(start1)
print(end1)
print(stop1a)
print(stop2a)
print(stop3a)

(-25.2406, 130.9889)
(-25.2406, 130.9889)
(-33.65, 115.3333)
(-24.8667, 113.6333)
(-21.15, 149.2)

In [81]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1a, stop2a, stop3a]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
direction_layer = gmaps.directions_layer(start1, end1, waypoints=waypoints,travel_mode='DRIVING', show_markers=True)
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure